.ReviewPage {
    width: 100vw;
    min-height: 100vh;
    background-color: #FFF5DD;
    background-size: cover;
}

.Page {
    display: flex;
    position: absolute;
    margin: auto;
    text-align: left;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    top: 8%;
    left: 15%;
    right: 5%
}

.Page > form > input[placeholder="your name..."] {
    width: 10%;
    padding: 1.0%;
    border: 0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.Page > form > textarea {
    width: 50%;
    height: 50%;
    padding: 1.0%;
    margin-right: 1%;
    border: 0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

textarea::placeholder {font-family: Arial;}

.Page > form > button {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#8d29cb;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:8%;
}

.Center {
    display: flex;
    position: absolute;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    left: 45%;
}
#SearchBar {
    padding: 10px;
}