/* Main CSS, tab/spacing and html order recommended to be kept for readability (unless it looks to ugly)*/
/* Example: HOME-PAGE 0 indents, CENTER-SEARCH 1 indent and directly below HOME-PAGE in html (ignoring navbar)*/

/**//**//**//**//**//**//**//**//**//**//**//**//**/
/* The home page flex div. Covers entire screen */
/**//**//**//**//**//**//**//**//**//**//**//**//**/
.HomePage {
    width: 100%; /*100vw forces a scroll*/
    min-height: 100%;
    background-color: #FFF5DD;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
    /* The flex box in the middle 1/3 of home page, below topNav, usually just for the logo */
    .center-search {
        margin-top: 60px; /* topNav height is 60px */
        display: flex;
        height: max(25vh,300px); /*HEIGHTS pp-container: 40vh; center-search: 25vh; NavBar: 60px;*/
        justify-content: center; 
    }
        #UWLogo {
            margin-top: auto;
            width: max(20vw,350px);
        }

    /* A simple header stating : "Popular Classes!" */
    #popularClassesTitle {
        margin: auto;
    }

    /* BREAK FLEX DIV HERE (details in 'miscallenous css' below) */

    /* The flex box in the bottom 1/3 of the home page */
    .popularPages-container {
        display: flex;
        flex-wrap: wrap;
        margin: auto; /*Centers it */
        justify-content: center;
        width: 100%; /*100vw forces a scroll*/
        height: 40vh; /*HEIGHTS pp-container: 40vh; center-search: 25vh; NavBar: 60px;*/
    }
        .popularPages-container > div {
            text-align: center;
            background-color: #FFFFFF;
            margin: 1vh 1vw;
            padding: 3vh 3vw;
            height: 20vh;
            width: 15vw;
            font-size: 25px; /*Font size doesn't increase text box size*/
            font-weight: bold;
            text-decoration: underline;
            color: #757575;
            border-style: solid;
            border-radius: 10px;
            border-width: 3px;
            border-color: #757575;
            box-shadow: 0 9px #999;
        }
        .popularPages-container > div:hover{
            background-color: #acacac;
            cursor: pointer;
        }
        .popularPages-container > div:active{
            background-color: #acacac;
            cursor: pointer;
            transform: translateY(4px);
            box-shadow: 0 5px #999;
        }



/**//**//**//**//**//**/
/* Miscallenous CSS */
/**//**//**//**//**//**/

/* To force a flex box type <br> (because of flex-basis: 100%) */
.break {
    flex-basis: 100%;
    height: 0;
    width: 0;
    /* Needs flex-wrap: wrap; to work */
}

html {
    scroll-behavior: smooth;
}

/* Test to see div borders */
/* .HomePage > div {
    border-style: solid; 
    border-color: black;
    border-radius: 5px;
} */