.HomePage {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(
    180deg,
    hsl(296deg 62% 56%) 0%,
    hsl(290deg 53% 53%) 11%,
    hsl(284deg 46% 49%) 22%,
    hsl(278deg 45% 45%) 33%,
    hsl(272deg 44% 41%) 44%,
    hsl(266deg 43% 37%) 56%,
    hsl(260deg 42% 32%) 67%,
    hsl(253deg 42% 27%) 78%,
    hsl(247deg 42% 23%) 89%,
    hsl(240deg 42% 18%) 100%
    );
    /* background-color: #1a1a40; */
    /* background-color: #CB4AD4; */
    /* original background-color: rgb(230, 213, 251); */
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.center-search {
    top: 60px;
    padding-top: 20vh;
    position: fixed;
    display: flex;
    height: max(25vh,200px);
}

#UWLogo {
    margin-top: auto;
    /* vw based bc inside div */
    width: max(20vw,250px);
   
}

/* Popular pages addition */
.popularPages-container {
    display: flex;
    position: fixed;
    margin: auto;
    align-items: center;
    justify-content: center;
    top: 40%;
    width: 60vw; 
    height: 45vh;
    padding-top: 100px;
}

.popularPages-container > div {
    text-align: center;
    background-color: rgb(171, 108, 177);
    margin: 1vw 1vh;
    padding: 3vw 3vh;
    height: 10vh;
    width: 20vw;
    max-width: 200px;
    font-size: 3vw; /*Font size doesn't increase text box size*/
    font-weight: bold;
    color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(118, 90, 143);
    box-shadow: 0 9px #999;
}

.popularPages-container > div:hover{
    background-color: rgb(146, 89, 151);
    cursor: pointer;
}

.popularPages-container > div:active{
    background-color: rgb(146, 89, 151);
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: 0 5px #999;
}


html {
    scroll-behavior: smooth;
}
