/* Add a black background color to the top navigation */
.topnav {
  /* original background-color: rgb(124, 33, 167); */
  /* background-image: linear-gradient(
    250deg,
    hsl(311deg 79% 58%) 0%,
    hsl(307deg 72% 54%) 11%,
    hsl(302deg 65% 50%) 22%,
    hsl(297deg 71% 47%) 33%,
    hsl(292deg 79% 46%) 44%,
    hsl(288deg 87% 44%) 56%,
    hsl(283deg 95% 43%) 67%,
    hsl(278deg 98% 42%) 78%,
    hsl(271deg 98% 43%) 89%,
    hsl(263deg 94% 44%) 100%
  ); */
  background-color: #a636ae;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  /* width: 10%;
  max-width: 150px; */
  width: 95px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-color:rgb(129, 26, 136);
  border-width: 5px;
}
 
  /* Style the links inside the navigation bar */
  .topnav a {
    padding: 25px;
    display: block;
    width: 100%;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }