.AboutUs {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(230, 213, 251);
    background-size: cover;
}

.Center {
    display: flex;
    position: absolute;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;

}

#UWLogo {
    width: 250px;
    height: 200px;
}

#SearchBar {
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 70px;
    margin-left: 111px;
    /* Navbar is 111px */
}

.flex-container > div {
    background-color: beige;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(124, 33, 167);
    border-width: 4px;
    margin: 10px 10px 10px 10px;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    width: 8em;
    font-family: fantasy;
}

.ben {
    width: 7em;
    height: 5em;
    border-radius: 2em;
}

.aboutUsPersonSubtext {
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
}
