.AboutUs {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(230, 213, 251);
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* margin-left: 9.87% */
    margin-right: 7%;
    margin-left: 16.87%
}

.flex-container > div {
    background-color: rgb(225, 224, 214);
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(124, 33, 167);
    border-width: 4px;
    /* Top right bottom left */
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vw;
    width: 18vw;
    height: 32vh;
    text-align: center;
    font-family: georgia;
    font-size: 26px;
}

.aboutUsPersonHeader {
    position: relative;
    font-weight: bolder;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}
.aboutUsPersonSubtext {
    position: relative;
    font-size: 14px;
    font-family: arial;
    text-align: left;
}

/* Homepage.css somehow tries to overwrite its width/height */
/* CSS layout problem: Image on right half for some reason*/
.flex-container > div:hover{
    content: url(../../Components/WashingtonLogo.png);
    display: block;
}

.bgPic {
    /* top,bot right,left*/
    margin: 0vh -9vw; 
    position: absolute;
    width: 18vw !important;
    height: 32vh !important;
    opacity: 50%;
    display: none;
}


/* .Center {
    display: flex;
    position: absolute;
    margin-top: 2vh;
    margin-bottom: 5vh; 
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} */

/* #UWLogo {
    width: 250px;
    height: 200px;
    top: 30%;
    left: 45%;
} */

/* #SearchBar {
    padding: 10px;
} */

/* .flex-picture {
    width: 12vw;
    height: 12vh;
    border-radius: 2vw;
} */